<h3>Hello, <%= @user.name %>&nbsp;<%= @user.last_name %></h3>

<p>Welcome to LSSSP</p>

<p>
  Your Lean Six Sigma Society of Professionals (LSSSP) password has been reset as under. Please store this for your
  future reference.
</p>

<p>
  Your login credentials are as follows:
  <br/>
  Username: <%= @user.email %>
  <br/>
  Your reset Password: <%= @user.enrollment_no %>
  <% if @user.role.name == "Student" %>
  <br/>
  Enrollment Number: <%= @user.enrollment_no %>
  <% end %>
</p>

<p align="justify">
  Lean Six Sigma Society of Australasia (LSSSA) is the Asia-Pacific chapter for the global Lean Six Sigma Society of
  Professionals (LSSSP). In the event you may ever need support, please contact us on support@lsssp.org or your course
  provider.
</p>

<p>
  Thanks for joining and have a great day!
</p>
