<% title "Lsssp : My Profile" %>
<% content_for :sub_heading do %>
    <%= sub_heading('Profile', 'Update') %>
<% end %>
<h3>Password Change</h3>
<!--
<ul>
  <% for following in current_user.followings %>
      <li>
        <%= following.follower.name %>
        (<%= link_to "remove", following, :method => :delete %>)
      </li>
  <% end %>
</ul>
-->
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
    <%= f.error_messages %>

    <p><%= f.label :email %><br/>
      <%= f.email_field :email, :readonly=>true %></p>

    <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
      <%= f.password_field :password %></p>

    <p><%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation %></p>

    <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
      <%= f.password_field :current_password %></p>
    <!--
    <p>Role<br />
      <%= collection_select(:user, :role_id, Role.order('name'), :id, :name, :prompt=>"Select a Role") %>
    </p>
-->
    <p><%= f.submit "Update Password" %></p>
<% end %>
<div class="link_buttons">
  <%= link_to_back %>
</div>
<!--

<hr/>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
-->


