<% title "LSSSP : My Profile" %>
<% content_for :sub_heading do %>
    <%= sub_heading('Profile', 'Update') %>
<% end %>
<h3>Profile Update</h3>
<!--
<ul>
  <% for following in current_user.followings %>
      <li>
        <%= following.follower.name %>
        (<%= link_to "remove", following, :method => :delete %>)
      </li>
  <% end %>
</ul>
-->
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put,:multipart => true}) do |f| %>
    <%= f.error_messages %>

    <% if resource.role.name == "Student" %>
        <p><%= f.label :enrollment_no, "Enrollment Number" %><br/>
          <%= f.text_field :enrollment_no, :readonly=>true %></p>
    <% end %>

    <p><%= f.label :email %><br/>
      <%= f.email_field :email, :readonly=>true %></p>

    <p><%= f.label :name, "First Name" %><br/>
      <%= f.text_field :name %></p>

    <p><%= f.label :last_name %><br/>
      <%= f.text_field :last_name %></p>

    <p><%= f.label :primary_number, "Primary Contact Number (Mobile / Telephone. ex: 04412345678)" %><br/>
      <%= f.text_field :primary_number %></p>

    <p><%= f.label :secondary_number, "Secondary Contact Number (Mobile / Telephone. ex: 04412345678)" %><br/>
      <%= f.text_field :secondary_number %></p>

    <p><%= f.label :avatar_file_name, "Profile Pricture" %><br/>
      <%= f.file_field :avatar %></p>

    <hr/>
    <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
      <%= f.password_field :password %></p>

    <p><%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation %></p>
    <hr/>
    <p><%= f.label :current_password %> <i>(You need your current password to confirm your profile changes)</i><br/>
      <%= f.password_field :current_password %></p>
    <!--
    <p>Role<br />
      <%= collection_select(:user, :role_id, Role.order('name'), :id, :name, :prompt=>"Select a Role") %>
    </p>
-->
    <p><%= f.submit "Update Profile" %></p>
<% end %>
<div class="link_buttons">
  <%= link_to_back %>
</div>
<!--

<hr/>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
-->
