<div id="login_page">
  <h3>Sign Up Form</h3>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <p><%= f.label :email %><br/>
        <%= f.email_field :email %></p>

      <p><%= f.label :password %><br/>
        <%= f.password_field :password %></p>

      <p><%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation %></p>

      <p>Select Account Type<br/>
        <%= collection_select(:user, :role_id, Role.order('name ASC').limit(3), :id, :name, :prompt=>"Select a Account Type") %>
      </p>

      <p><%= f.submit "Sign up" %></p>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>