<h3><%= @user == @current_user ? "Your Account Settings" : "Edit User" %></h3>
 
<%= form_for([:super_admin,@user], :html => { :method => :put },:validate=>true) do |f| %>
	<%= f.error_messages %>
	 <p><%= f.label :email %></p>
     <p><%= f.email_field :email %></p>
 
	<p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i></p>
	<p><%= f.password_field :password %></p>
 
	<p><%= f.label :password_confirmation %></p>
	<p><%= f.password_field :password_confirmation %></p>
 
	<p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></p>
	<p><%= f.password_field :current_password %></p>

    <p>Role</p>  
    <p><%= collection_select(:user,:role_id,Role.order('name'),:id,:name,:prompt=>"Select a Role") %></p>
 
  <p><%= f.submit "Update" %></p>
<% end %>
<div class="link_buttons">
  <%= link_to_show([:super_admin,@user]) %> 
  <%=link_to_all(super_admin_users_path)%>
  <%=link_to_back %>
</div>