<% title "Lsssp : Manage Users" %>
<% content_for :sub_heading do %>
    <%= sub_heading('LSSSP Service',params[:id].blank? ? 'Users' : "Users under Group #{Role.find(params[:id]).name}") %>
<% end %>
<% content_for :left_panel do  %>
    <td valign="top" width="279">
      <%= render 'common/search' %>
    </td>
<% end %>
<div class="help_text">
 Area for managing Users. <br/>
 Along with creating, managing and removing Users for your LSSSP services.
</div>
<div id="container">
  <%= link_to "Add New User", '#' ,:class=>'usuallink bold_text',:id=>'add_new'%>
  <%= collection_select(:user, :role_id, Role.order(:name), :id,:name,{:prompt=>"Sort by >>"},:class=>"width_auto position_right") %>
</div>
<br/>
<div id="new_form">
  <%=render 'new' %>
</div>
<% if @users.blank? %>
    <div class="error_msg">Sorry No Users Found..! </div>
<% else %>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>Email</th>
        <th>Group</th>
        <th>Registration Date</th>
        <th>Login Count</th>
        <th>Confirmed?</th>
        <th>Approved?</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <%=render @users %>
      </tbody>
    </table>

    <div class="lsssp_pagination">
      <%= page_entries_info @users %>  <%= will_paginate @users, :container => false %>
    </div>
<% end %>
