<% title "LSSSP : Manage Users" %>
<% content_for :sub_heading do %>
    <%= sub_heading('LSSSP',params[:id].blank? ? 'User Management' : "Users under Group #{Role.find(params[:id]).name}") %>
<% end %>
<% content_for :left_panel do  %>
    <td valign="top" width="250">
      <%= render 'common/search' %>
    </td>
<% end %>
<div class="help_text">
  Area for managing Users. <br/>
  Along with creating, managing and removing Users for your LSSSP services.
</div>
<div id="container">
  <%= link_to "Add New User", '#' ,:class=>'usuallink bold_text',:id=>'add_new'%> |
  <%= link_to "Import Users", '#' ,:class=>'usuallink bold_text',:id=>'imp_new'%> |
  <%= link_to "Export Users", {:action => 'export'},:class => 'usuallink bold_text' %>
  <%= collection_select(:user, :role_id, Role.order(:name), :id,:name,{:prompt=>"Sort by >>"},:class=>"width_auto position_right") %>
</div>
<br/>
<div id="new_form">
  <%=render 'new' %>
</div>
<div id="import_form">
  <%=render 'upload' %>
</div>
<% if @users.blank? %>
    <div class="error_msg">Sorry No Users Found..! </div>
<% else %>
   <table class="tablesorter">
      <thead>
      <tr>
        <th>Enrollment #</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Primary</th>
        <th>Group</th>
        <th>Created On</th>
        <!--<th>Login Count</th>-->
        <th>Status</th>
        <th>Approved?</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <%=render @users %>
      </tbody>
    </table>

    <div class="lsssp_pagination">
      <%= page_entries_info @users %> <%= will_paginate @users, :container => false %>
    </div>
<% end %>
