<h2>Register User</h2>
 
<%= form_for([:super_admin,@user], :validate => true) do |f| %>
  <%= f.error_messages %> 
  <%#= render :partial => 'user_fields', :locals => { :f => f } %> 
  <p><%= f.label :email %></p>
  <p><%= f.email_field :email %></p>
  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p> 
  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p> 
  <p>Role</p>  
  <p><%= collection_select(:user,:role_id,Role.order('name'),:id,:name,:prompt=>"Select a Role") %></p>

  <p><%= f.submit "Register" %></p>
<% end %>