<%= content_tag_for(:tr, question, :class=>cycle('even', 'odd')) do -%>
    <td><%= question.topic.name %></td>
    <td><%= question.subtopic.name %></td>
    <td align="left">
      <%= link_to highlight(truncate(question.content, :length=>75), params[:search]), catalog_question_path(question), :class=>'bold_text tipTipRight', :title => question.content, :rel=>"facebox" %>
      <%= question.question_file_name %>
    </td>
    <td><%= question.multiple? ? 'Yes' : 'No' %></td>
    <td><%= question.optional? ? 'Yes' : 'No' %></td>
    <td><%= link_to_active(question, active_catalog_question_path(question)) %></td>
    <!--<td><%= question.correct_answer %></td>-->

    <td>
      <%= link_for_show_pop([:catalog, question]) %>
      <%= link_for_edit_pop(edit_catalog_question_path(question)) %>
      <%= link_for_destroy([:catalog, question]) %>
    </td>
<% end %>
