<% title "LSSSP : Questions" %>
<% content_for :sub_heading do %>
    <%= sub_heading('LSSSP | Catalog | Questions','Manage Questions') %>
<% end %>
<% content_for :left_panel do  %>
    <td valign="top" width="250"> <%= render 'common/search' %>
      <%= render 'recent' %> </td>
<% end %>
<div class="help_text">
 Area for managing Questions. <br/>
 Along with creating, managing and removing Questions for your LSSSP Certifications.
</div>
<div>
  <%= link_to "Add New Question",new_catalog_question_path,:class=>'usuallink bold_text',:id=>'add_new' %> |
  <%=link_to "Export",export_catalog_questions_path,:class=>'usuallink bold_text' %>
</div>



<%if @questions.blank? %>
    <div class="error_msg">
      Sorry No Questions Found..!
    </div>
<% else %>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>Topic</th>
        <th>Subtopic</th>
        <th>Question</th>
        <th>Multiple?</th>
        <th>Optional?</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <%= render @questions %>
      </tbody>
    </table>

    <div class="lsssp_pagination">
      <%= page_entries_info @questions %> <%= will_paginate @questions, :container => false %>
    </div>
<% end %>
