<div style="left: 378px; right: auto; bottom: auto; top: 230px;">
  <table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
      <td valign="top" rowspan="2">
        <%= link_to_avatar(@user) %>
      </td>
      <td valign="top">
        <div style="padding-left: 10px;">
          <%= link_to @user.name + " " +@user.last_name, '#', :style=>'color:#4b0082;' %>
        </div>
      </td>
    </tr>
    <tr valign="bottom">
      <td>
        <div style="padding-left: 10px;">

          <% if @user.role.name == "Student" %>
              Enrollment NO: <%= @user.enrollment_no %>
              <br/>
          <% end %>
          Primary Number: <%= @user.primary_number %> <br/>
          Secondary Number: <%= @user.secondary_number %> <br/>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>