<% title "Lsssp(Assessor) : Assignments" %>
<% content_for :sub_heading do %>
    <%= sub_heading('Assessor :','Manage Assignments') %>
<% end %>
<div>
  <%= link_to "Add New Assignment", new_assessor_assignment_path,:class=>'usuallink bold_text'%>
</div>
<%if @assignments.blank? %>
    <div class="error_msg">
      Sorry No Assignments Found..!
    </div>
<% else %>
    <table class="tablesorter">
      <tr>
        <thead>
        <th>Name</th>
        <th>Certification</th>
        <th>Attachments</th>
        <th>Actions</th>
        </thead>
      </tr>
      <% for assignment in @assignments %>
          <tr>
            <td><%= assignment.name %></td>
            <td><%= assignment.certification.name %></td>
            <td><%= assignment.attachments.size %></td>
            <td>
              <%= link_for_show([:assessor, assignment]) %>
              <%= link_for_edit(edit_assessor_assignment_path(assignment)) %>
              <%= link_for_destroy([:assessor, assignment]) %>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>
