<% title "LSSSP : Assignments" %>
<% content_for :sub_heading do %>
    <%= sub_heading('LSSSP ','Manage Assignments') %>
<% end %>
<% content_for :left_panel do %>
    <td valign="top" width="250"> <%= render 'common/search' %>
      <%=render 'recent' %>
     </td>
<% end %>
<div class="help_text">
  Area for managing Assignments. <br/>
  Along with creating, managing and removing Assignments for your LSSSP Certifications.
</div>
<div>
  <%= link_to "Add New Assignment", new_assessor_assignment_path,:class=>'usuallink bold_text'%>
</div>


<%if @assignments.blank? %>
    <div class="error_msg">
      OOPS..! No Assignments are Found in the System..!
    </div>
<% else %>
    <table class="tablesorter">
      <tr>
        <thead>
        <th>Name</th>
        <th>Certification</th>
        <th>Attachments (Files)</th>
        <th>Actions</th>
        </thead>
      </tr>
      <% for assignment in @assignments %>
          <tr>
            <td><%=highlight(assignment.name,params[:search]) %></td>
            <td><%= assignment.certification.name %></td>
            <td>
            <%= link_to assignment.attachments.size,'#',:class=>'tipTipRight',:title=>associated_names1(assignment.attachments) %>
             </td>
            <td>
              <%= link_for_show_pop([:assessor, assignment]) %>
              <%= link_for_edit_pop(edit_assessor_assignment_path(assignment)) %>
              <%= link_for_destroy([:assessor, assignment]) %>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>

