<% title "Lsssp : Manage Groups" %>
<% content_for :sub_heading do %>
  <%= sub_heading('Groups','Manage Groups') %>
<% end %>
<% content_for :left_panel do  %>
<td valign="top" width="279">
  <%= render 'common/search' %>
  <%=render 'recent' %> 
</td>
<% end %>
<div>
<%= link_to "Add New Group", "#",:class=>'usuallink bold_text',:id=>'add_new' %>
</div>
<div id="new_form">
<%=render 'form' %>
</div>
<% if @roles.blank? %>
  <div class="error_msg">Sorry No Groups Found..!</div>
<% else %>
<table class="tablesorter">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</thead>
	
	<tbody>
		<%=render @roles %>
	</tbody>
</table>
<% end %>
<p>
	<%= link_to "New Group", new_super_admin_role_path ,:class=>'usuallink bold_text'%>
</p>
