<% title "LSSSP | Group : #{@role.name}" %>
<% content_for :sub_heading do %>
  <%= sub_heading('Groups',"#{@role.name}") %>
<% end %>
<div class="formbox">
  <div class="desc"><b>Name</b> :  <%= @role.name %></div>
  <div class="divider"></div>
  <div class="desc"><b>Description</b> : <%= @role.description %> </div>
  <div class="divider"></div>
  <div class="desc"><b>Status</b> :  <%= @role.active? ? 'Active' : 'Pending' %>
  </div>
</div>
<!--<div class="link_buttons">
   <%=link_to_edit(edit_super_admin_role_path(@role)) %>
   <%=link_to_delete([:super_admin, @role]) %>
   <%=link_to_all(super_admin_roles_path)%>
   <%=link_to_back %>
</div>-->
