<% title "LSSSP | Group : #{@role.name}" %>
<% content_for :sub_heading do %>
  <%= sub_heading('Groups',"#{@role.name}") %>
<% end %>

<p>
	<strong>Name:</strong>
	<%= @role.name %>
</p>
<p>
	<strong>Description:</strong>
	<%= @role.description %>
</p>

<div class="link_buttons">
   <%=link_to_edit(edit_super_admin_role_path(@role)) %>
   <%=link_to_delete([:super_admin, @role]) %>
   <%=link_to_all(super_admin_roles_path)%>
   <%=link_to_back %>
</div>
