<% title "LSSSP : Student - #{current_user.name}" %>
<% content_for :sub_heading do %>
    <%= sub_heading('Student',"#{@owned_certification.certification.name} Assignments") %>
<% end %>
<% if @owned_certification.student_assignments.blank? %>
    <div class="error_msg">Sorry No Pending Assignments Found.!</div>
<% else %>
    <div id="lsssp_main">
      <div id="acc2" class="lsssp_accordion">
        <% for student_assignment in @owned_certification.student_assignments %>
            <h4> <%= student_assignment.assignment.name %> -
              <%= student_assignment.status.eql?('completed') ? 'Completed' : 'Pending' %>
            </h4>
            <div>
              <%= form_for(student_assignment,:url=>{:action=>'update_assignment',:id=>student_assignment},:html=>{:multipart=>true}) do |f| %>
                  <%= raw student_assignment.assignment.description %>
                  <div style="color: blue;margin-top: 10px;margin-bottom: 10px;">Reply</div>
                  <%=f.text_area :description,:class => 'mceEditor',:id=>"assignment_#{student_assignment.id}",:style=>"width:50%" %>
                  <table class="tablesorter" style="width: 50%">
                    <thead>
                    <tr>
                      <th>File Name</th>
                      <th>Reply</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for attachment in student_assignment.assignment.attachments  %>
                        <tr>
                          <td><%=image_tag('attach.gif') %>
                            <%= link_to attachment.attachment_file_name,{:action=>'download',:id=>attachment.id}%></td>
                          <td>
                            <% if student_assignment.completed_attachments.exists?(:attachment_id=>attachment.id) %>
                                <%= student_assignment.completed_attachments.find(:first,:conditions=>['attachment_id = ?',attachment.id]).hanger_file_name %>
                            <% else %>
                                <%=check_box_tag "student_assignment[completed_attachments_attributes][][attachment_id]", attachment.id,false %>
                                <%= file_field_tag "student_assignment[completed_attachments_attributes][][hanger]" %>
                            <% end %>
                          </td>
                        </tr>
                    <% end %>
                    </tbody>
                  </table>
                  <% unless student_assignment.status.eql?('completed')  %>
                      <%= f.select :status ,options_for_select({'Pending'=>'pending','Completed'=>'completed'},{:selected=>student_assignment.status}) %>
                      <%= submit_tag 'Submit Assignment',:disable_with=>'Please wait..' %>
                  <% end %><br/>
              <% end %> <%# end of form %>
            </div>
        <% end %>
      </div>
    </div>
<% end %>


