<% title "LSSSP : Certification " %>
<% content_for :sub_heading do %>
    <%= sub_heading('Student', 'Registered Certifications') %>
<% end %>
<h3>Certificate Management for <br/>
  User Name:<%= @user.name %><br/>
  Email : <%= @user.email %>
</h3>

<h5>Assigned Certifications</h5>
<% if @owned_certifications.blank? %>
    <div class="error_msg">Sorry No Certifications Registered yet.!</div>
<% else %>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>Certification Name</th>
        <th>Provider</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% for owned_certification in @owned_certifications %>
          <tr>
            <td>
              <strong>
                <%= link_to owned_certification.certification.name + " "+owned_certification.certification.last_name, '#', :class=>'tipTipRight', :title=> examination_info(owned_certification.certification) %>
              </strong>
            </td>
            <td><%= owned_certification.provider.name %></td>
            <td> <%= link_to content_tag(:span, 'Delete'), "#", :class=>'btn-red tipTipRight', :title=>'Subscribe Certificate' %>
            </td>
      <% end %>
      </tbody>
    </table>
<% end %>

<h5>Available Examinations</h5>
<table class="tablesorter">
  <thead>
  <tr>
    <th>Certification Name</th>
    <th>Provider</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @certifications.each do |exam| %>
      <% unless OwnedCertification.exists?(:owned_id=>params[:id], :certification_id=>exam.id) %>

          <tr>
            <td>
              <strong>
                <%= link_to exam.certification.name, '#', :class=>'tipTipRight', :title=> examination_info(exam.certification) %>
              </strong>
            </td>
            <td><%= exam.provider.name + " "+exam.provider.last_name %></td>
            <td>
              <%= link_to content_tag(:span, 'Subscribe'), {:controller => "student/certifications",:action => "subscribe"}, :class=>'btn-blue tipTipRight', :title=>'Subscribe Certificate' %>
            </td>

      <% end %>
  <% end %>
  </tbody>
</table>


