<% title "LSSSP : Certifications " %>
<% content_for :sub_heading do %>
    <%= sub_heading('Student', 'Registered Certifications') %>
<% end %>
<h3>List of Available Examinations for Certifications </h3>
<% if @certifications_owned.blank? %>
    <div class="error_msg">No Certifications Registered yet.!</div>
<% else %>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>Certification Name</th>
        <th>Provider</th>
        <th>Actions</th>
        <th>Enrollment Date</th>
        <th>Examination Status</th>
        <th>Completion Date</th>
        <th>Examination Result</th>
        <th>Assignments</th>
        <th>Assignment Status</th>
        <th>Assignments Result</th>
        <th>Certification Status</th>
        <th>Others</th>
      </tr>
      </thead>
      <tbody>
      <% for owned_certification in @certifications_owned %>
          <tr>
            <td>
              <strong>
                <%= link_to owned_certification.certification.name, '#', :class=>'tipTipRight', :title=> examination_info(owned_certification.certification) %>
              </strong>
            </td>
            <td><%= owned_certification.provider.name + " " + owned_certification.provider.last_name %></td>
            <td align="center">
              <%= link_to_exam(owned_certification.student_exam) %>
            </td>
            <td><%= owned_certification.created_at.strftime('%d-%b-%Y') %></td>
            <td><%= exam_status(owned_certification.student_exam) %></td>
            <td><%= owned_certification.student_exam.complete_status? ? owned_certification.student_exam.updated_at.strftime('%d-%b-%Y') : 'Yet to Complete' %></td>
            <td><%= exam_result(owned_certification) %></td>
            <td>
              <% if owned_certification.student_assignments_count == 0 %>
                  No Assignments Allotted
              <% else %>
                  <%= link_to "Assignments  #{owned_certification.student_assignments_count}", {:action=>'assignments', :id=>owned_certification.id}, :class=>'tipTipRight',
                              :title=>(owned_certification.student_assignments.collect { |sa| "#{sa.assignment.name} - #{sa.status}<br/>" }) %>
              <% end %>
            </td>
            <td>
              <%= assignment_status(owned_certification) %>
            </td>
            <td><%= assignment_result(owned_certification) %></td>
            <td>
              <% if owned_certification.issued? %>
                  <%= image_tag('tick.gif') %>
              <% else %>
                  <span class="status_pending">Pending</span>
              <% end %>
            </td>
            <td>
              <%= link_to content_tag(:span, 'Re-Subscribe'), {:controller => "/certifications", :action => :destroy, :id=>owned_certification.id}, :class=>'btn-red tipTip', :title=>'Re-Subscribe the Certification', :style=>'float:right;', :confirm => "Do You want to Re-subscribe Certification. You have repay the Fee to Re-Appear." %>

            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>


