<%= content_tag_for(:tr, student, :class=>cycle('even', 'odd')) do -%>
    <!--<td><%= student.following_assessors.size %></td>-->
    <td><%= student.enrollment_no%></td>
    <td>
      <%= link_to highlight(student.name + " " + student.last_name,params[:search]), user_info_path(:id=>student.id), :rel=>user_info_path(:id=>student.id), :class=>'ajax-cluetip' %>
    </td>
    <td><%= highlight(student.email, params[:search]) %></td>
    <td><%= student.created_at.strftime('%d-%b-.%Y') %></td>
    <td>
      <div id="approve_<%= student.id %>">
        <%= student.approved? ? image_tag('tick.gif') : image_tag('cros.gif') %>
      </div>
    </td>
    <td>
    </td>
<% end %>




