<div class="pagination">
  <%= link_to content_tag(:span, '← Previous '), active_question_path(:id=>@active_question.id-1, :previous=>true), :remote=>true, :id=>"load_question", :class=>'btn-blue previous_page', :style=>'float:right' %>
  <%= link_to content_tag(:span, ' Next →'), active_question_path(:id=>@active_question.id+1, :next=>true), :remote=>true, :id=>"load_question", :class=>'btn-yellow next_page', :style=>'float:right' %>
</div>


<div id="finish_button">
  <%= link_to content_tag(:span, 'Finish Exam'), finish_exam_path(:id=>@active_question.student_exam_id), :class=>'btn-red', :style=>'float:none', :confirm => "You are about to submit your exam for final evaluation. Are you sure you want to submit your exam?" %>
  <!--<%= link_to content_tag(:span, 'Finish Exam'), finish_exam_path(:id=>@active_question.student_exam_id), :class=>'btn-red', :style=>'float:none', :id=>"yesno" ,:title=>"You are about to submit your exam for final evaluation. Are you sure you want to submit your exam?" %>-->

</div>

<div id="question_content">
  <%= hidden_field_tag 'id', @active_question.id %>
  <h2>Question <%= session[:active_question_ids].index(@active_question.id)+1 %></h2>

  <div class="rbox question_body">
    <p><%= @active_question.question.content %>
      <% if @active_question.question.question? %>
          <%= image_tag @active_question.question.question.url(:thumb) %>
          <a href='<%= @active_question.question.question.url %>' rel="facebox">Click to Enlarge this image</a>
      <% else %>
      <% end %>
    </p>
  </div>
  <div class="rbox" id="answers">
    <table class="answers_go">
      <tbody>
      <% i = 1 %>
      <% for answer in @active_question.question.answers %>
          <tr>
            <td class="checkbox">
              <%= check_box_tag "correct_answer[]", i, @active_question.correct_answer.to_a.include?(i) -%>
            </td>
            <td class="answer"><p><code><%= answer.content %>
              <% if answer.answer? %>
                  <%= image_tag answer.answer.url(:thumb) %>
                  <a href='<%= answer.answer.url %>' rel="facebox">Click to Enlarge this image</a>
              <% else %>
              <% end %>
            </code></p></td>
          </tr>
          <% i += 1 %>
      <% end %>
      </tbody>
    </table>
    <%= submit_tag 'Update Answer', :style=>'display:none;' %>
  </div>
</div>

<%# If useful repeat next ,previous links here %>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('a[rel*=facebox]').facebox()
    })
</script>
<script language="javascript">
    $(document).bind('reveal.facebox', function() {
        $('#facebox').draggable();
    })
</script>

	<script type="text/javascript">
	$(function() {


		$("#yesno").easyconfirm({locale: { title: 'Confirm', button: ['No','Yes']}});


	});
	</script>
	<style type="text/css">
	.ui-dialog { font-size: 12px; }

	</style>
