<div id="question_content">
  <h2>Question <%= params[:q_number]  %></h2>
  <div class="rbox question_body">
    <p><%= @active_question.question.content %></p>
  </div>
  <div class="rbox" id="answers">
    <table class="answers_go">
      <tbody>
      <tr>
        <th colspan="2">Your Answers</th>
        <th>Correct Answers</th>
      </tr>
      <% i = 1 %>
      <% for answer in @active_question.question.answers %>

          <tr>
            <td class="checkbox">
              <%= check_box_tag "correct_answer[]",i,@active_question.correct_answer.to_a.include?(i) -%>
            </td>
            <td class="answer"><p><code><%= answer.content %></code></p></td>
            <td> <%= check_box_tag "correct_answer[]",i,@active_question.question.correct_answer.to_a.include?(i) -%></td>
          </tr>
          <% i += 1 %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

