<div id="exam_content">
  <h3>Review Examination - <%= @student_exam.certification.name %></h3>
  <div id="pagination_container">
    <div>
      <h2>Your Score(Percentage)  : <span id="score"><%= @student_exam.percentage %>%</span></h2>
      <ul id="score_summary">
        <li class="usuallink tipTip" title="Total Number of questions in Examination">Total Questions: <%= @student_exam.no_of_questions %></li>
        <li class="usuallink tipTip" title="Number of questions visited">Questions Visited: <%= @student_exam.visited %></li>
        <li class="usuallink tipTip" title="Number of questions Answered">Questions Answered: <%= @student_exam.answered %></li>
        <li class="usuallink tipTip" title="Number of questions with correct answers">Correct Answered Questions: <%= @student_exam.answered_correctly %></li>
      </ul>
    </div>
    <ol class="questions_summary">
      <% i = 1 %>
      <% @active_questions.each do |active_question| %>
          <li title="current" id="active_question_<%=active_question.id%>">
            <%= link_to review_question_path(:id=>active_question.id,:q_number=>i),:remote => true,:id=>"load_question"  do %>
                <% answer = active_question.correct_answer.eql?(active_question.question.correct_answer) ? 'correct' : 'incorrect'  %>
                Q<span class="answer"><%=i%></span>: <%= image_tag( answer.eql?('correct') ? 'tick.gif' : 'cros.gif') %>
            <% end %>
          </li>
          <% i += 1%>
      <% end %>
    </ol>
  </div>
  <div id="question">
    <%= render 'review_question' %>
  </div>
</div>
<div id="ajax-indicator">
  <span> Loading Question......</span>
</div>