<div id="exam_content">
  <h3><%= @certification.name %></h3>
  <div id="pagination_container">
    <ul id="questions_pagination" class="pagination">
      <% i = 1 %>
      <% @active_questions.each do |active_question| %>
          <% type = active_question_status(active_question) %>
          <li title="<%= type.capitalize %>" class="<%= active_question.id.eql?(@active_question.id) ? "current "+type : type %>" id="active_question_<%=active_question.id%>">
            <%= link_to i ,active_question_path(:id=>active_question.id,:q_number=>i),:remote => true,:id=>"load_question"  %>
          </li>
          <% i += 1%>
      <% end %>
    </ul>
  </div>
  <%= form_tag update_answer_path ,:remote=>true,:id=>'exam_update_answer' do %>
      <div id="question">
        <%= render 'question' %>
      </div>
  <% end %>
</div>
<div id="ajax-indicator">
  <span> Loading...</span>
</div>