<% title "LSSSP : Service Provider" %>
<% content_for :sub_heading do %>
    <%= sub_heading('Service Provider ','Assessors') %>
<% end %>
<% content_for :left_panel do  %>
    <td valign="top" width="279"> <%= render 'common/search' %>
    </td>
<% end %>
<div class="help_text">
 Area for managing Assessors. <br/>
 Service Provider Assign/Un-Assign/Transfer the Users allocated for the Assessors.
</div>
<div id="container">
  <%= link_to "Add New Assessor", '#' ,:class=>'usuallink bold_text',:id=>'add_new'%> |
  <%= link_to "Import Assessors", '#' ,:class=>'usuallink bold_text',:id=>'imp_new'%> |
  <%=link_to "Export",export_service_provider_assessors_path(:approved=>params[:approved]),:class=>'usuallink bold_text' %>
    <div class="inline">
  <div align="right" style="float: right;" class="inline">
    Available Credits:
    <% user_credits = User.find(:first, :conditions=>{:id=>current_user.id}).credits %>

    <% if user_credits <= 0 %>
        <font color="#ff0000;"><b><%= user_credits %></b></font>
    <% else %>
        <font color="#005800;"><b><%= user_credits %></b></font>
    <% end %>

  </div>
  </div>
</div>
<br/>
<div id="new_form">
  <%=render 'new' %>
</div>
<div id="import_form">
  <%=render 'upload' %>
</div>
<%if @users.blank? %>
    <div class="error_msg">
      No Assessors Found..!
    </div>
<% else %>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>Group</th>
        <th>Name</th>
        <th>Email</th>
        <th>Registration Date</th>
        <th>Summary</th>
      </tr>
      </thead>
      <tbody>
      <%= render :partial=>'assessor',:collection=>@users %>
      </tbody>
    </table>
            <div class="lsssp_pagination">
      <%= page_entries_info @users %> <%= will_paginate @users, :container => false %>
    </div>
<% end %>
