<div id="container">
  <%=link_to "Export",'#',:class=>'usuallink bold_text' %> |
  <%=link_to "PDF",'#',:class=>'usuallink bold_text' %>
</div>
<div>
  <%= form_tag({:action=>'purchased_certification'},:id=>'purchased_certification') do %>
  <span><i>Sort by</i> :
      Certification
    <%= select_tag(:certification_id, options_from_collection_for_select(@certifications, "id", "name",{:selected=>params[:certification_id]}),{:include_blank => true}) %>
    </span>
      <%=submit_tag 'Go',:style=>"display:none;" %>
  <% end  %>
</div>
<% if @owned_certifications.blank? %>
    <div class="error_msg">Could not find any Purchased Certifications..! </div>
<% else %>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>Certification</th>
        <th>Purchased By</th>
        <th>Email</th>
        <th>Purchased From</th>
        <th>Purchased At</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <% for owned_certification in @owned_certifications %>
          <tr class="<%=cycle('even', 'odd')%>">
            <td><%= owned_certification.certification.name %></td>
            <td><%=link_to owned_certification.owned.name,user_info_path(:id=>owned_certification.owned.id),:rel=>user_info_path(:id=>owned_certification.owned.id),:class=>'ajax-cluetip'%></td>
            <td><%= owned_certification.owned.email %></td>
            <td><%=link_to owned_certification.provider.name,user_info_path(:id=>owned_certification.provider.id),:rel=>user_info_path(:id=>owned_certification.provider.id),:class=>'ajax-cluetip'%></td>
            <td><%= date_time_stamp(owned_certification.created_at) %> </td>
            <td><%= owned_certification.amount %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div class="lsssp_pagination">
      <%= page_entries_info @owned_certifications %>  <%= will_paginate @owned_certifications, :container => false %>
    </div>
<% end %>