<% title "LSSSP : Service Provider - #{@service_provider.name}" %>
<% content_for :sub_heading do %>
    <%= sub_heading('Service Provider ',"Certifications") %>
<% end %>
<h3>Certifications offered by <i><%= @service_provider.name %></i> </h3>

<table class="list" cellpadding="13" cellspacing="10px;">
  <% for certification in @provided_certifications %>
      <tr>
        <td class="logo">Logo</td>
        <td class="info">
          <strong>
            <%=link_to certification.name ,'#',:class=>'tipTipRight',:title=> examination_info(certification) %>
          </strong>   <br/>
          Price : A$ <%= certification.price %>
        </td>
        <td class="links">
          <% if current_user.owned.exists?(certification) %>
              <%=link_to 'Already Subscribed','#',:class=>'tipTipRight',:title=>'Already Subscribed this certification' %>
          <% else %>
              <%=link_to content_tag(:span,'Subscribe'),student_service_providers_path(:id=>@service_provider,:cid=>certification.id),
                         :method=>:post ,:class=>'btn-blue tipTipRight',:title=>'Subscribe Certificate',:style=>'float:right;' %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>



