<% title "LSSSP : Sub Topics" %>
<% content_for :sub_heading do %>
    <%= sub_heading('LSSSP | Catalog | Sub Topics', 'Manage Sub Topics') %>
<% end %>
<% content_for :left_panel do %>
    <td valign="top" width="250"> <%= render 'common/search' %>
      <%= render 'recent' %> </td>
<% end %>
<div class="help_text">
  Area for managing Sub Topics. <br/>
  Along with creating, managing and removing Sub Topics for your LSSSP Certifications.
</div>
<div id="container">
  <%= link_to "Add New Sub Topic", "#", :class=>'usuallink bold_text', :id=>'add_new' %> |
  <%= link_to "Export", export_catalog_subtopics_path, :class=>'usuallink bold_text' %>
  <span class="position_right"><i>Sort by</i> :  Status
    <%= select_tag(:subtopic_status, options_for_select({"All" => "all", "Approved" => 1, "Non-Approved"=> 0}, {:selected=>params[:subtopic_status]})
        ) %>
    Topic:
    <%= select_tag(:topic_id, options_from_collection_for_select(Topic.active, "id", "name", {:selected=>params[:topic_id]}), {:include_blank => true}) %>
      </span>
</div>
<div id="new_form">
  <%= render 'form' %>
</div>
<br/>
<% if @subtopics.blank? %>
    <div class="error_msg">
      Sorry No Subtopics Found..!
    </div>
<% else %>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>Sub Topic</th>
        <th>Topic</th>
        <th>Status</th>
        <th>Questions</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <%= render @subtopics %>
      </tbody>
    </table>

    <div class="lsssp_pagination">
      <%= page_entries_info @subtopics %> <%= will_paginate @subtopics, :container => false %>
    </div>
<% end %>
