<% title "Lsssp(CMS) : Topics" %>
<% content_for :sub_heading do %>
<%= sub_heading('CMS : Topics','Manage Topics') %>
<% end %>
<% content_for :left_panel do  %>
<td valign="top" width="279"> <%= render 'common/search' %>
<%= render 'recent' %> </td>
<% end %>
<div>
<%= link_to "Add New Topic", "#",:class=>'usuallink bold_text',:id=>'add_new' %> |
<%=link_to "Export",export_catalog_topics_path,:class=>'usuallink bold_text' %>
</div>
<div id="new_form">
<%=render 'form' %>
</div>
<%if @topics.blank? %>
<div class="error_msg">
	Sorry No Topics Found..!
</div>
<% else %>
<table class="tablesorter">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Active?</th>
            <th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<%= render @topics %>
	</tbody>
</table>
<% end %>
