<% title "LSSSP : Topics" %>
<% content_for :sub_heading do %>
    <%= sub_heading('LSSSP | Catalog | Topics', 'Manage Topics') %>
<% end %>
<% content_for :left_panel do %>
    <td valign="top" width="250"> <%= render 'common/search' %>
      <%= render 'recent' %> </td>
<% end %>
<div class="help_text">
  Area for managing Topics. <br/>
  Along with creating, managing and removing Topics for your LSSSP Certifications.
</div>
<div>
  <%= link_to "Create New Topic", "#", :class=>'usuallink bold_text', :id=>'add_new' %> |
  <%= link_to "Create New Subtopic", "#", :class=>'usuallink bold_text', :id=>'imp_new' %> |
  <%= link_to "Export", export_catalog_topics_path, :class=>'usuallink bold_text' %>
</div>
<div id="new_form">
  <%= render 'form' %>
</div>
<div id="import_form">
  <%= render 'subtopic' %>
</div>

<% if @topics.blank? %>
    <div class="error_msg">
      OOPS!.. No Topics are Found in the System..!
    </div>
<% else %>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>Topic</th>
        <th>Description</th>
        <th>Status</th>
        <th>Sub Topics</th>
        <!--<th>Certifications</th>-->
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <%= render @topics %>
      </tbody>
    </table>

    <div class="lsssp_pagination">
      <%= page_entries_info @topics,:entry_name => 'Topic' %> <%= will_paginate @topics, :container => false %>
    </div>
<% end %>
