<% title "LSSSP | Topic :  #{@topic.name}" %>
<% content_for :sub_heading do %>
  <%= sub_heading('CMS >> Topics',"#{@topic.name}") %>
<% end %>


<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= raw @topic.description %>
</p>
<p>
  <strong>Active:</strong>
  <%= @topic.active %>
</p>

<div class="link_buttons">
   <%=link_to_edit(edit_catalog_topic_path(@topic)) %>
   <%=link_to_delete([:catalog, @topic]) %>
   <%=link_to_all(catalog_topics_path)%>
   <%=link_to_back %>
</div>
