<% title "LSSSP : Certifications" %>
<% content_for :sub_heading do %>
    <%= sub_heading('Catalog : Certifications','Manage Certifications') %>
<% end %>
<% content_for :left_panel do  %>
    <td valign="top" width="250"> <%= render 'common/search' %>
      <%= render 'recent' %> </td>
<% end %>
<div class="help_text">
 Area for managing Certifications. <br/>
 Along with creating, managing and removing Certificaitons for your LSSSP.
</div>
<div>
  <%= link_to "Add New Certificate", "#",:class=>'usuallink bold_text',:id=>'add_new' %>
</div>
<div id="new_form">
  <%=render 'form' %>
</div>
<%if @certifications.blank? %>
    <div class="error_msg">
      Sorry No Certifications Found..!
    </div>
<% else %>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>Name</th>
        <th>Topic</th>
        <th>Sub Topics</th>
        <th>Price</th>
        <th>Duration (min)</th>
        <th>Total Questions</th>
        <th>Created On</th>
        <th>Purchased</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <%= render @certifications %>
      </tbody>
    </table>
<% end %>
