<% title "Lsssp : Service Provider - #{current_user.name}" %>
<% content_for :sub_heading do %>
    <%= sub_heading('Service Provider ','Certifications offered by LSSSP') %>
<% end %>
<%if @certifications.blank? %>
    <div class="error_msg">
      Sorry No Active Certifications Found..!
    </div>
<% else %>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <% for certification in @certifications %>
          <tr class="<%=cycle('even','odd')%>">
            <td><%= certification.name %></td>
            <td><%= certification.price %></td>
            <td>
              <% if current_user.provided_certifications.exists?(certification) %>
              <%= link_to 'Already Registered',my_certifications_service_provider_certifications_path %>
              <% else %>
              <%= link_to "Register", service_provider_certifications_path(:id =>certification.id), :method => :post,:class=>'usuallink bold_text' %>
               <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
