<% title "LSSSP | Certification :  #{@certification.name}" %>
<% content_for :sub_heading do %>
    <%= sub_heading('Service Provider | Certifications', "#{@certification.name}") %>
<% end %>
<div class="formbox">
  <div class="desc"><b>Certification</b> : <%= @certification.name %> </div>
  <div class="divider"></div>
  <div class="desc"><b>Description</b> :  <%= @certification.description %></div>
  <div class="divider"></div>
  <div class="desc"><b>Topic</b> :  <%= @certification.topic.name %></div>
  <div class="divider"></div>
  <div class="desc"><b>Price</b> :  <%= @certification.price %></div>
  <div class="divider"></div>
  <div class="desc"><b>Duration</b> :  <%= @certification.duration %></div>
  <div class="divider"></div>
  <div class="desc"><b>Total Questions</b> :  <%= @certification.no_of_questions %></div>
  <div class="divider"></div>
  <div class="desc"><b>Sub Topic Questions</b>
    :<br/> <%= certification_subtopics(@certification.subtopic_questions) %>
  </div>
  <div class="divider"></div>
  <div class="desc"><b>Status</b> :  <%= @certification.active? ? 'Active' : 'Pending' %>
  </div>
</div>
<div class="link_buttons">
  <%= link_to_all(service_provider_certifications_path) %>
</div>