<div id="page_top">
	<%= link_to image_tag("adminlogo.png",:border => 0),root_url%>
	<div id="top_menu">
		<div id="top_m">
			<ul class="top_menu">
				<% if user_signed_in? %>
                  <% if current_user.avatar.file? %>
                  <li><%= image_tag current_user.avatar.url(:small) %></li>
                  <% else %>
                      <li><%= image_tag "avatar.gif",:size => "25x25" %></li>

                  <% end %>
                 <li>Welcome <%= current_user.email %></li>
<!--                  <% if can? :manage,Role %>
                 <li><%=(link_to 'Manage Groups',super_admin_roles_path) %></li>
                  <% end %>-->
				 <li><%=link_to 'Profile',edit_user_registration_path %></li>
                  <li><%= link_to "Sign out", destroy_user_session_path %></li>
                <% else %>
                  <%= link_to "Employee Verification",verifications_url %>
                  <li><%= link_to "Register", new_user_registration_path %></li>
                  <li><%= link_to "Sign in", new_user_session_path %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>