<ul class="page_menu">
    <li><%= tab_heading 'Dashboard' %>
    <ul>
      <li><%= link_to 'Certifications Control', certifications_purchased_path %></li>
    </ul>
  </li>
  <li><%= tab_heading 'Users' %>
    <ul>
      <li><%= link_to 'Manage Groups', super_admin_roles_path %></li>
      <li><%= link_to 'Manage Users', super_admin_users_path %></li>
    </ul>
  </li>
  <li><%= tab_heading 'Question Bank' %>
    <ul>
      <li><%= link_to 'Manage Topics', catalog_topics_path %></li>
      <!--<li><%= link_to 'Manage Sub Topics', catalog_subtopics_path %></li>-->
      <li><%= link_to 'Manage Questions', catalog_questions_path %></li>
    </ul>
  </li>
  <li><%= tab_heading 'Certifications' %>
    <ul>
      <li><%= link_to 'Mange Certifications', catalog_certifications_path %></li>
      <li><%= link_to 'Manage Examinations',  examinations_path%></li>
      <li><%= link_to 'Manage Assignment', assessor_assignments_path %></li>


    </ul>
  </li>
   <li><%= tab_heading 'Accounts' %>
    <ul>
      <li><%= link_to 'Manage Credits', credits_path%></li>
      <li><%= link_to 'Manage Payment Gateways', payment_gateways_path %></li>
      <!--<li><%= link_to 'Manage Coupon', coupons_path%></li>-->

    </ul>
</ul>

