<ul class="page_menu">
  <li><%= tab_heading 'Manage Service Providers' %>
    <ul>
      <li><%=link_to 'My Service Providers' ,student_service_providers_path %></li>
      <!--<li><%=link_to 'List All Service Providers' ,my_service_providers_student_service_providers_path %></li>-->
    </ul>
  </li>
  <li><%= tab_heading 'Manage Certifications' %>
    <ul>
      <li><%=link_to 'Registered Certifications' ,student_certifications_path %></li>
    </ul>
  </li>

</ul>